* {
    margin: 0;
    padding: 0；
}

.save-body {
    background-image: url(../image/background2.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1489px;
    height: 712px;
}

.navigator ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navigator li {
    float: left;
}
.navigator ul li a{
    width: 170px;
}
.navigator a:link,
a:visited {
    display: block;
    width: 140px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #bebebe;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

.navigator a:hover,
a:active {
    background-color: #e6e6e6;
}

.navigator ul li ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: none;
    position: absolute;
    /* 设置最高层,防止被下方图片遮住 */
    z-index: 10;
}

.navigator ul li:hover ul {
    /* 设置二级菜单鼠标移动的属性 */
    display: block;
    width: auto;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #bebebe;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.navigator ul li ul li {
    float: none;
}



.map {
    float: left;
    width: 1000px;
    height: 800px;
}

.p {
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 300px;
}

.map-body {
    width: 1000px;
    height: 500px;
    border: rgb(216, 186, 186) solid 1px;
    margin-left: 120px;
}