*{
    margin: 0;
    padding: 0;
}



body{
    background-image:url(./image/backgroung1.png) ; 
    background-repeat: no-repeat;
    background-size: cover;
}


.navigator ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* position: relative; */
  }
  .navigator li{
    float: left;
  }
  .navigator a:link,a:visited
  {
  display:block;/*转换为块级元素*/
  width:140px;
  font-weight:bold;
  color:#FFFFFF;
  background-color:#bebebe;
  text-align:center;
  padding:15px;
  text-decoration:none;
  text-transform:uppercase;
  }
  .navigator a:hover,a:active
  {
  background-color:#e6e6e6;
  }
  .navigator ul>li>ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    display: none;/*遮住*/
    position: absolute; 
    /* 设置最高层,防止被下方图片遮住 */
    z-index: 10;
  }
  .navigator ul li:hover ul{
    /* 设置二级菜单鼠标移动的属性 */
    display: block;
    width: auto;
    font-weight:bold;
    color:#FFFFFF;
    background-color:#bebebe;
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
  
  }
  .navigator ul li ul li{
    float:none;
  }
  .info-body div{
    display: flex;
    width: auto;
    height: 60px;
    /* background-color: aqua; */
    align-items: center;
    border-bottom: #b7b7b7 solid 1px;
  }
  .info{
    display: inline-block;
    margin-left: 20px;
    width: 500px;
    margin-right: 600px;
    /* background-color: aqua; */
    padding-left: 100px;
  }
  .accept{
    background-color: rgb(158, 255, 47);
    width: 80px;
    height: 30px; 
    border-radius: 8px;
  }

  .refuse{
    background-color: rgb(255, 47, 47);
    width: 80px;
    height: 30px; 
    margin-left: 100px;
    border-radius: 8px;
  }